<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&lt;Notes&gt;</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <p class="heading">&lt;/Notes&gt;</p>
    <div class="main">
        <div class="top">
            <input class="list-input" type="text" id="noteInput" placeholder="Write a note...">
            <button class="add-button" onclick="addNote()">Add Note</button>
        </div>
        
        <ul class="list" id="noteList"></ul>
    </div>
    

    <script src="/static/JS/script.js"></script>
</body>
</html>